<div id="sidebar" class="sidebar">
  <h3><a href="/">Angular 2</a></h3>
  <small id="angular2-version">Angular v{{site.angular2_version}}</small>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/why-angular2">Why Angular2?</a></li>
    <!--<li><a href="/hello-world">Angular 2 Hello World</a></li>-->
    <li><a href="/components/">Components</a></li>
    <li><a href="/inputs/">Inputs</a></li>
    <li><a href="/outputs/">Outputs</a></li>
    <li><a href="/lifecycle/">Lifecycle</a></li>
    <li><a href="/templates/">Templates</a></li>
    <li><a href="/events/">Events</a></li>
    <li><a href="/forms/">Forms</a></li>
    <li><a href="/viewChild/">ViewChild</a></li>

    <li class="group"><a href="/es6">ES6/TypeScript</a>
      <ul>
        <li><a href="/es6/">Wat?</a></li>
        <li><a href="/es6/variables/">Variables</a></li>
        <li><a href="/es6/classes/">Classes</a></li>
        <li><a href="/es6/template-strings/">Template Strings</a></li>
        <li><a href="/es6/arrow-functions">Arrow Functions</a></li>
        <li><a href="/es6/promises">Promises</a></li>
      </ul>
    </li>
  </ul>
</div>
